@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');



:root {
 --bg-color: rgb(229, 234, 238);
 --color-primary: #00ad74;
 --color-secondary: #008c86;
 --font-family: Roboto, "Arial", "Helvetica", sans-serif;
}

body {
 height: 100vh;
 font-family: var(--font-family);
 line-height: 1;
 background-color: var(--bg-color);

}

h1 {
 font-size: 2.5rem;
 font-weight: 500;
 font-family: 'Bangers', cursive;

}

h2 {
 font-size: 2rem;
 font-weight: 600;
}

h3 {
 font-size: 1.5rem;
 font-weight: 500;
}

a {
 text-decoration: none;
 color: whitesmoke;
 cursor: pointer;
}

button {
 display: inline-block;
 padding: 12px 24px;
 background-color:  #f221c8 ;
 color: black ;
 cursor: pointer;
 border: none;
 border-radius: 4px;
 font-size: 16px;
 font-weight: bold;
 text-align: center;
 text-decoration: none;
 transition: background-color 0.3s ease;
}

button:hover {
 background-color:  #ee5cd1;
}

.root {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 20px;
 height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

textarea {
    resize: none;
}


.main {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 30px;
 height: 100vh;
 overflow-y: scroll;
 position: relative;
}


#listado-personajes {
 width: 85%;
 margin: 0 auto;
}

.personajes-contenedor {
 display: grid;
 grid-template-columns: 5% repeat(4, 1fr);
 grid-gap: 10px;
 align-items: center;
 justify-content: space-between;
 border: 1px solid #dee2e6;
 padding: 10px;
}

.personajes-contenedor img {
 max-width: 60px;
}

.personajes-contenedor {
 display: grid;
 grid-template-columns: 5% repeat(4, 1fr);
 grid-gap: 10px;
 align-items: center;
 justify-content: space-between;
 border: 1px solid #dee2e6;
 padding: 10px;
}


.grupo-botones {
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-bottom: 10px;
}

.boton-editar,
.boton-borrar {
 width: 80px;
 padding: 8px;
}

.contenedor-h1 {
 position: sticky;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 top: 0;
 width: 100%;
 background-color: var(--bg-color);
 z-index: 1;
}

.cabecera-h1 {
 background-color: var(--bg-color);
 padding: 16px;
 text-align: center;
}



@media screen and (max-width: 1200px) {
 .personajes-contenedor {
 grid-template-columns: auto;
 justify-content: center;
 padding: 20px;
 }
 .personajes-contenedor img {
 max-width: 300px;
 }
 .personajes-contenedor p {
 text-align: center;
 }
}


.card {
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    width: 800px;
}

.contenedor-formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    padding: 1.5rem;
}

.grupo-formulario {
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex: 1;
}

label {
    font-weight: bold;
}

input, 
textarea {
    font-family: var(--font-family);
}

input[type="text"],
input[type="number"],
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

button[type="submit"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }
}